.main {
  display: grid;
  grid-template-columns: 25rem 1fr;
  gap: 2rem;

  @media only screen and (max-width: $bp-md-2) {
    grid-template-columns: 1fr;
  }

  &__category {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
}

.message {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2.5rem;

  @media only screen and (max-width: $bp-sm-2) {
    font-size: 2rem;
  }
}
