.section {
  &__fact {
    font-size: 2rem;
    font-family: sans-serif;
    line-height: 1.4;
    background-color: $color-secondary-light;
    margin-bottom: 1.6rem;
    padding: 1.6rem 2.4rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    letter-spacing: -1px;
    border-radius: 16px;

    @media only screen and (max-width: $bp-lg-1) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media only screen and (max-width: $bp-sm-1) {
      letter-spacing: 0px;
    }
  }

  &__text {
    &--source {
      &:link,
      &:visited {
        text-transform: uppercase;
        text-decoration: none;
        color: #a8a29e;
        margin-left: 1.4rem;
        display: inline-block;
        transition: $transition-1;
      }

      &:hover,
      &:active {
        transform: scale(1.02) rotate(-2deg);
        color: #fff;
      }
    }
  }

  &__tag {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: $font-primary;
    padding-top: 3px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 100px;
  }

  &__vote-buttons {
    margin-left: auto;
    display: flex;
    gap: 1rem;

    button {
      background-color: #57534e;
      border-radius: 100px;
      border: none;
      padding: 0.6rem 1.2rem;
      font-size: 1.8rem;
      color: inherit;
      font-family: $font-secondary;
      font-weight: 600;
      cursor: pointer;
      transition: $transition-1;
      white-space: nowrap;

      @media only screen and (max-width: $bp-sm-2) {
        font-size: 1.4rem;
      }

      &:hover {
        background-color: $color-secondary;
      }

      &:disabled {
        background-color: #fff;
      }
    }
  }
}
