.header {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  @media only screen and (max-width: $bp-sm-2) {
    flex-direction: column;
  }

  &__logo {
    width: 7rem;
    height: 7rem;

    @media only screen and (max-width: $bp-sm-2) {
      width: 4rem;
      height: 4rem;
    }
  }

  &__btn {
    margin-left: auto;

    @media only screen and (max-width: $bp-sm-2) {
      width: 50%;
      margin-left: 0;
    }
  }
}
