@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Sono:wght@400;600&display=swap");
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #e4e4e4 transparent;
}
*:focus {
  outline: 0;
}
*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 4px;
  border: 4px solid transparent;
}
*:hover::-webkit-scrollbar-thumb {
  background-color: #90a4ae;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 46.875em) {
  html {
    font-size: 50%;
  }
}

::selection {
  background-color: #fafaf9;
  color: #292524;
}

body {
  line-height: 1.6;
  color: #fafaf9;
  background-color: #292524;
  font-family: "Sono", sans-serif;
  padding: 4rem 6rem;
}
@media only screen and (max-width: 62.5em) {
  body {
    padding: 3rem 4rem;
  }
}

.heading-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  margin-top: 6px;
}
@media only screen and (max-width: 62.5em) {
  .heading-1 {
    font-size: 4rem;
    line-height: 1;
  }
}
@media only screen and (max-width: 28.125em) {
  .heading-1 {
    font-size: 3rem;
  }
}

ul {
  list-style: none;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.hidden {
  display: none !important;
}

.btn {
  font-size: 1.7rem;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  padding: 1.6rem 0 1.3rem;
  color: inherit;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  cursor: pointer;
  transition: 0.2s;
}
@media only screen and (max-width: 28.125em) {
  .btn {
    font-size: 1.5rem;
    padding: 1rem 2.5rem 0.7rem;
  }
}
.btn:hover {
  transform: scale(1.05) rotate(-5deg);
}
.btn:active {
  transform: translateY(-1px) scale(1.05) rotate(-5deg);
}

.btn-lg {
  font-size: 2rem;
  padding: 2rem 3rem 1.7rem;
}
@media only screen and (max-width: 28.125em) {
  .btn-lg {
    font-size: 1.6rem;
    padding: 1rem 2.5rem 0.7rem;
  }
}

.btn-all-categories {
  margin-bottom: 1.6rem;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

.header {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
@media only screen and (max-width: 28.125em) {
  .header {
    flex-direction: column;
  }
}
.header__logo {
  width: 7rem;
  height: 7rem;
}
@media only screen and (max-width: 28.125em) {
  .header__logo {
    width: 4rem;
    height: 4rem;
  }
}
.header__btn {
  margin-left: auto;
  transition: 0.2s;
}
@media only screen and (max-width: 28.125em) {
  .header__btn {
    width: 50%;
    margin-left: 0;
  }
}

.fact-form {
  background-color: #44403c;
  padding: 1.6rem 2.4rem;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 16px;
}
@media only screen and (max-width: 56.25em) {
  .fact-form {
    display: grid;
    row-gap: 1.5rem;
  }
}
.fact-form > *:not(:last-child) {
  margin-right: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .fact-form > *:not(:last-child) {
    margin-right: 0;
  }
}
.fact-form input,
.fact-form select {
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 1.6rem;
  display: inline-block;
  color: inherit;
  font-family: inherit;
}
.fact-form input::placeholder,
.fact-form select::placeholder {
  color: #a8a29e;
}
@media only screen and (max-width: 28.125em) {
  .fact-form input::placeholder,
  .fact-form select::placeholder {
    font-size: 1.3rem;
  }
}
.fact-form input:nth-of-type(1) {
  flex: 1;
  margin-right: 0.5rem;
}
@media only screen and (max-width: 56.25em) {
  .fact-form button {
    justify-self: center;
    width: 50%;
  }
}
.fact-form select {
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .fact-form select {
    justify-self: center;
    width: 30%;
  }
}
@media only screen and (max-width: 50em) {
  .fact-form select {
    width: 40%;
  }
}
@media only screen and (max-width: 28.125em) {
  .fact-form select {
    width: 90%;
  }
}
.fact-form span {
  font-weight: 600;
  font-size: 1.8rem;
  margin-right: 2rem;
}

.section__fact {
  font-size: 2rem;
  font-family: sans-serif;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 1.6rem;
  padding: 1.6rem 2.4rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  letter-spacing: -1px;
  border-radius: 16px;
}
@media only screen and (max-width: 75em) {
  .section__fact {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 46.875em) {
  .section__fact {
    letter-spacing: 0px;
  }
}
.section__text--source:link, .section__text--source:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #a8a29e;
  margin-left: 1.4rem;
  display: inline-block;
  transition: 0.2s;
}
.section__text--source:hover, .section__text--source:active {
  color: blue;
}
.section__tag {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: "Coiny", sans-serif;
  padding-top: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 100px;
}
.section__vote-buttons {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}
.section__vote-buttons button {
  background-color: #57534e;
  border-radius: 100px;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.8rem;
  color: inherit;
  font-family: "Sono", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;
}
@media only screen and (max-width: 28.125em) {
  .section__vote-buttons button {
    font-size: 1.4rem;
  }
}
.section__vote-buttons button:hover {
  background-color: #292524;
}

.main {
  display: grid;
  grid-template-columns: 25rem 1fr;
  gap: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .main {
    grid-template-columns: 1fr;
  }
}
.main__category:not(:last-child) {
  margin-bottom: 1.6rem;
}

.container {
  max-width: 150rem;
  margin: 0 auto;
  display: grid;
  row-gap: 4rem;
}
@media only screen and (max-width: 28.125em) {
  .container {
    row-gap: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
