@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Sono:wght@400;600&display=swap');

body {
  line-height: 1.6;
  color: $color-primary;
  background-color: $color-secondary;
  font-family: $font-secondary;
  padding: 4rem 6rem;

  @media only screen and (max-width: $bp-md-1) {
    padding: 3rem 4rem;
  }
}

.heading-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-family: $font-primary;
  margin-top: 6px;

  @media only screen and (max-width: $bp-md-1) {
    font-size: 4rem;
    line-height: 1;
  }

  @media only screen and (max-width: $bp-sm-2) {
    font-size: 3rem;
  }
}

ul {
  list-style: none;
}
